/core/target/
/core/nbproject/
/core/.project
/core/.settings/
/core/pom.xml.releaseBackup
/core/release.properties
/core/.classpath
/rxjava/target/
/rxjava/nbproject/
/rxjava/.project
/rxjava/.settings/
/rxjava/pom.xml.releaseBackup
/rxjava/release.properties
/rxjava/.classpath
/target/
/.project
/.settings/
pom.xml.releaseBackup
release.properties
/.classpath